{{ 'sra-task.css' | asset_url | stylesheet_tag }}

{% style %}
  .section-{{ section.id}}{
    padding-top: {{ section.settings.section_padding_top}}px;
    padding-bottom: {{ section.settings.section_padding_bottom}}px;
  }
{% endstyle %}

<div class="sra_main section-{{ section.id }}" data-section-id="{{ section.id }}">
  <div class="slider__header"></div>
  <div class="slider__container">
    <div id="api-banner-slider" class="splide">
      <div class="splide__track">
        <ul class="splide__list">
          {% for block in section.blocks %}
            <li class="splide__slide">
              {% render 'sra-card', block: block %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="flex_center"><button class="button button-primary" id="duplicate-card-button">Add Card</button></div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
     const bannerSlider = new Splide('#api-banner-slider', {
    perPage: 3,
    gap: '2rem',
    perMove: 1,
    drag: 'free',
    pagination: false,
    breakpoints: {
      600: {
        perPage: 1,
        drag: 'free',
        snap: true,
        gap: '1rem',
        autoScroll: false
      }
    },
  }).mount();
    document.getElementById('duplicate-card-button').addEventListener('click', ()=> {
      // dynamic Section Rendering API 
      fetch(`/?section_id={{ section.id }}`)
        .then(response => response.text())
        .then(htmlContent => {
          const html = new DOMParser().parseFromString(htmlContent, 'text/html');
          console.log(html)
          const lastCard = html.querySelector('.splide__slide:last-child');
          console.log(lastCard);
            if (lastCard) {
                const clonedCard = lastCard.cloneNode(true);
                const slideList = document.querySelector('.splide__list');
                slideList.appendChild(clonedCard);
                // Update the Slider to swipe the Cards
                bannerSlider.refresh();
            } else {
                console.error('card not found');
            }
        })
        .catch(error => console.error('Error fetching card content:', error));
    });
  });
</script>

{% schema %}
{
  "name": "Slider using API Section",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "range",
      "label": "Padding Top",
      "id": "section_padding_top",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px"
    },
    {
      "type": "range",
      "label": "Padding Bottom",
      "id": "section_padding_bottom",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px"
    }
  ],
  "blocks": [
    {
      "type": "card_block",
      "name": "Card Block",
      "settings":[
        {
      "type": "header",
      "content": "Card Settings"
    },
    {
      "type": "image_picker",
      "label": "Slider Image",
      "id": "slider_image_url"
    },
    {
      "type": "text",
      "label": "Caption Title",
      "id": "caption_title",
      "default": "Accessories Fashion"
    },
    {
      "type": "text",
      "label": "Card Heading",
      "id": "card_heading",
      "default": "The Must-Have Fashion Pieces for Women's Wardrobe"
    },
    {
      "type": "text",
      "label": "Published By",
      "id": "published_by",
      "default": " Webibazaar Support"
    },
    {
      "type":"textarea",
      "label":"Card Description",
      "id":"card_description"
    },
    {
      "type": "text",
      "label": "Link Title",
      "id": "anchor_link_title"
    },
    {
      "type": "text",
      "label": "Published Date",
      "id": "published_date",
      "default": "March 5, 2024"
    }
      ]
    }
  ],
  "presets": [
    {
      "name": "Slider using API Section"
    }
  ]
}
{% endschema %}
